<!-- Admission Table Structure -->
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Patient Name Column -->
  <ng-container matColumnDef="patientName">
    <mat-header-cell *matHeaderCellDef> Patient Name </mat-header-cell>
    <mat-cell *matCellDef="let admission"> {{ admission.patientName }} </mat-cell>
  </ng-container>

  <!-- Admission Type Column -->
  <ng-container matColumnDef="admissionType">
    <mat-header-cell *matHeaderCellDef> Admission Type </mat-header-cell>
    <mat-cell *matCellDef="let admission"> {{ admission.admissionType }} </mat-cell>
  </ng-container>

  <!-- Bed Number Column -->
  <ng-container matColumnDef="bedNumber">
    <mat-header-cell *matHeaderCellDef> Bed No </mat-header-cell>
    <mat-cell *matCellDef="let admission">
      {{ admission.admissionType === 'Inpatient' ? admission.bedNumber : '-' }}
    </mat-cell>
  </ng-container>

  <!-- Admission Date Column -->
  <ng-container matColumnDef="admissionDate">
    <mat-header-cell *matHeaderCellDef> Admission Date </mat-header-cell>
    <mat-cell *matCellDef="let admission"> {{ admission.admissionDate | date: 'dd/MM/yyyy' }} </mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let admission">
      <button mat-button color="primary" (click)="editAdmission(admission)">Edit</button>
      <button mat-button color="warn" (click)="deleteAdmission(admission._id)">Delete</button>
    </mat-cell>
  </ng-container>

  <!-- Header and Row Declarations -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>